<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="RavenDBAddress" value="https://aeo.ravenhq.com/databases/artificialgold-organisations" />
    <add key="RavenDBApiKey" value="1b66e4cb-a050-4d74-89f3-82fbe946627b" />
  </appSettings>
</configuration>